:root {

     /** Declaración de tamaños de fuente **/
    --fuente-tamano-btn: 12px;
    --fuente-tamano-title: 18px;
    --fuente-tamano-cuerpo: 14px;

}

@media (min-width:469px) and (max-width: 768px){
    /** Estilo de la tajerta del blog **/
.card-blog {
    margin: 90px auto;
    width: 65%;
}

/** Estilo del título del blog **/
.container-main .titulo {
    font-family: var(--fuente-titulo);
    font-size: var(--fuente-tamano-title);
    font-weight: var(--fuente-peso-titulo);
}

/** Estilo del mensaje del blog **/
.container-main .mensaje {
    font-family: var(--fuente-cuerpo);
    font-size: var(--fuente-tamano-cuerpo);
    font-weight: var(--fuente-peso-cuerpo);
}

/** Estilo del autor del blog **/
.container-avatar .autor{
    font-family: var(--fuente-titulo);
    font-size: var(--fuente-tamano-cuerpo);
    font-weight: var(--fuente-peso-titulo);
}
}